.AboutVaccine { 
    width: $majorWidth; // majorWidth variable is from Page.scss
    height: 100%;
    @include flex( row , space-between, none);

    .AboutVaccine_Questions { 
        h4 { 
            margin-top: 20px;
        }

        fieldset { 
            margin-top: 10px;
            margin-left: 10px;
            border: none;

            input { 
                margin-top: 10px;
            }

            label { 
                margin-left: 10px;
            }
        }

        .addThirdPart { 
            margin-left: 30px;
            margin-top: 30px;
    
            p { 
                font-size: 14px;
                width: 200;
            }
        }
    }

    .AboutVaccine_Image { 
        img { 
            width: 550px;
            height: 500px;
        }
    }
}
