@mixin flex( $direction, $justify, $align ) { 
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

* { 
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App { 
    width: 100%;
    height: 100vh;
    background-color: #EAEAEA;
    @include flex(row, center,center);
}

// start Page style
@import "./components/StartPage/StartPage.scss";

// Each pages style which contains Header and Footer
@import "./components/Pages/Pages.scss";

// Identification Page style
@import "./components/Pages/Identification/Identification.scss";

// Questionnaire on COVID page style
@import "./components/Pages/QuestionnaireOnCOVID/AboutCOVID.scss";

// Questionnaire on vaccine page style
@import "./components/Pages/QuestionnaireOnVaccine/AboutVaccine.scss";

// Questionnaire on recommendations page style
@import "./components/Pages/Recommendation/Recommendation.scss";

